ul(class="nav")
  li(class="active")
    a(href="/jsondb") Edit
  li
    a(href="nav1") Nav1
  li(class="dropdown")
    a(href="#",class="dropdown-toggle",data-toggle="dropdown") Dropdown
      span(class="caret")
    ul(class="dropdown-menu")
      li
        a(href="#") Test1
      li
        a(href="#") Test2
      li
        a(href="#") Test3
      li(class="divider")
      li(class="nav-header") Nav Header
      li
        a(href="#") Test4
      li
        a(href="#") Test5
