extends layout

block append scripts
  script(src="/js/goog/base.js")
  script(src="/js/external/raphael.min.js")
  script(src="/js/external/raphael.json.js")
  script(src="/js/globalbin/Default.js")
  script(src="/js/globalbin/Math.js")
  script(src="/js/globalbin/Point.js")
  script(src="/js/globalbin/Path.js")
  script(src="/js/globalbin/ControlPoint.js")
  script(src="/js/globalbin/Button.js")
  script(src="/js/globalbin/Editor.js")
  
block content
   div#svg-content