body  {background-color:#000;}
#bg-front, #bg-back { position: fixed; top: 0; left: 0; }
.bgheight { height: 100%; width: auto; max-width: none; }
.bgwidth { width: 100%; height: auto; max-height: none; }